*{
  font-size: 5vh;
  color: black;
  background-color: white;
}
ion-icon{
  margin-left: 10px;
  padding-top: 10px;

  background-color: white;
}

ion-title {
  text-align: center;
}
ion-
ion-card-content {
  font-size: 20vh;
  color: green;
}

ion-card {
  height: 80%;
  background-color: white;
  color: black;
  font-size: 20vh;
  text-align: center;
  padding-top: 20%;
  font-size: 80%;
}

ion-img {
  height: 75% !important;
}
